.nav-item{
    margin-left: 30px;
}

.logo{
    height: 100px;
    width: 100px;
    opacity: 70%;
}

.carousel-inner{
    max-height: 39rem;
}

.carrito{
    margin-left: 310px;
}

.lupa{
    height: 30px;
    width: 30px;
}

#box-search{
    display:block;
    overflow: hidden;
}

.video{
   
    display:inline-block;
    width: 20px;
    height: 20px;
    margin-left: -350px;
    margin-top: 40px;   
}

.aside{
    text-align:justify;
    margin-left: -900px;
    margin-top: 150px;
    float: right;
}

.servicio-fila{
    width: 100% !important;
    text-align: center;
}

.icon-button{
    position: relative;
    
    display: flex;
    align-items:flex-end;
   
    width: 30px;
    height: 30px;
    margin: auto;
}

.card-group{
    width: 90%;
    margin-left: 30px;
}

.card{
  padding-right: 80px;

}

.col{
    padding-top: 80px;
    margin-left: 30px;
}

.form-control{
    top: 30%;
    left: 50%;
}

.cont-coment{
    height: 300px;
    weight:400px;
}


#iconos i {
    font-size: 30px;
    padding: 0px 15px;
    color:#3f3f3f ;
}

.footer-bottom{
    background:  #3f3f3f80;
    width: 100vw;
    text-align: center;
    color:beige;
}

#footer-content{
    height: 200px;
    background-color:rgba(255, 192, 203, 0.247) ;
}


.dropdown-menu{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}