body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: grey;
    margin: 0;
    background-image: url(245404110_3045558789103666_3255751236899007997_n.jpg);
}

.Volver{
    width: 80%;
    text-align: end;
    margin-top: 30px;
    
}

.Volver :hover {
    color: rgba(243, 223, 223, 0.925);
    
    
}

.alink{
     color:#241d21;  
     font-family: arial;
     font-weight: bolder; 
     text-decoration: none ;
}
#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

#central {
    max-width: 320px;
    width: 100%;
    margin-left: -150px;
}

.titulo {
    font-size: 140%;
    color:#160b15cb;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 150%;
    padding: 40px 30px;
    background-color:rgba(243, 223, 223, 0.925);
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 90%;
    color: #241d21;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}



#login input:placeholder {
    font-family: 'Overpass', sans-serif;
    color: #3f3f3f9a;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: whitesmoke;
    width: 100%;
    height: 40px;
    border: none;

    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #3f3f3f;
    margin-top: 10px;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
    cursor: pointer;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color:rgb(145, 141, 141);
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #f780e3;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

@media (max-width:500px){
   form{
    width: 100%;
   } 
}